.App {
  margin-bottom: 50px auto;
  margin-top: 0px auto;
  background-color: #282c34;
  min-height: 100vh;
  clear: both;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Ipad {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 0px;
  width: 500px;
}

.Recipes {
  width: 100%;
  display: inline-flex;
  background-color: white;
}

.RecipeBox {
  flex-grow:1;
}

.DescriptionBox {
  display: flex;
  padding-bottom: 15px;
}

.FirstHalf {
  display: flex;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 30px;
  border-top: solid rgb(238, 238, 238);
  margin-top: 30px;
}
.IngredientBox {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  box-sizing: border-box;
  padding: 10px;
}

.MetadataBox {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  background: rgb(238, 238, 238);
}

.RecommendationTitle {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  border-top: solid rgb(238, 238, 238);
  margin-top: 30px;
}

.RecommendationsBox {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.RecommendationCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.ButtonBox {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  border-top: solid rgb(238, 238, 238);
  margin-top: 10px;
}
.ReadingButton {
  display: flex;
}

.CookingButton {
  display: flex;
}

.DeleteButton {
  display: flex;
  justify-content: center;
  padding: 15px;
}
