.App {
  margin-bottom: 50px auto;
  margin-top: 0px auto;
  background-color: #282c34;
  min-height: 100vh;
  clear: both;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-NewRecipe {
  display: flex;
  align-items: right;
  justify-content: right;
  width: 500px;
  margin-top: 50px;
}

.App-Ipad {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 10px;
  /* padding-top: 50px; */
  width: 500px;
}

.App-Recipes {
  width: 100%;
  display: inline-flex;
  background-color: white;
}

.App-RecipeBox {
  flex-grow: 1;
}

.App-DescriptionBox {
  display: flex;
  flex-basis: 60%;
  padding-bottom: 15px;
}

.App-FirstSection {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  /* padding-top: 30px;
  margin-top: 30px; */
  margin-bottom: 15px;
}
.App-IngredientBox {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
  border-top: solid rgb(238, 238, 238);
}

.App-MetadataBox {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  background: rgb(238, 238, 238);
}

.App-RecommendationTitle {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  border-top: solid rgb(238, 238, 238);
  margin-top: 30px;
}

.App-RecommendationsBox {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.App-RecommendationCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.App-ButtonBox {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  border-top: solid rgb(238, 238, 238);
  margin-top: 10px;
}
.App-ReadingButton {
  display: flex;
}

.App-CookingButton {
  display: flex;
}

.App-DeleteButton {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.App-Extra {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
