.New {
  margin-bottom: 50px auto;
  margin-top: 0px auto;
  background-color: #282c34;
  min-height: 100vh;
  clear: both;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.New-Body {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.New-Parameters {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 15px;
  color: white;
}

.New-Submit {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  border-top: solid lightgray;
  padding: 25px;
}

.New-InputColor {
  background-color: rgb(200, 200, 200);
}

.New-TextColor {
  color: rgb(200, 200, 200);
}

.ant-rate-star.ant-rate-star-zero {
  accent-color: black;
}

.ant-input-group-addon {
  background-color: darkgray;
  border: 0px;
}

.ant-form-item-control {
  height: 100%;
}

.ant-form-item-control-input {
  height: 100%;
}

.ant-form-item-control-input-content {
  height: 100%;
}
